<main class="grid">
  <section class="col-4 flex flex-column align-items-center">
    <picture>
      <img src="../../../assets/svg/Logo.svg" alt="Logo Navega" />
    </picture>
    <body class="flex flex-column align-items-center">
      <div class="title flex flex-column align-items-center">
        <h1>Boas-vindas ao Portal!</h1>
        <h1>Para começar, qual seu email ou CPF?</h1>
      </div>
      <div class="title flex flex-column align-items-center">
        <p>Precisamos desta confirmação para dar</p>
        <p>início ao seu acesso.</p>
      </div>
    </body>
    <form>
      <div class="p-inputgroup flex flex-column">
        <label for="">Email ou CPF</label>
        <span class="p-input-icon-right">
          <input type="text" pInputText />
          <i class="pi pi-check-circle ml-2"></i>
        </span>
      </div>
      <div class="p-inputgroup flex flex-column">
        <label for="">Senha</label>
        <span class="p-input-icon-right">
          <input type="text" pInputText />
          <i class="pi pi-check-circle ml-2"></i>
        </span>
      </div>
    </form>
    <footer class="flex flex-column align-items-center">
      <button>ACESSAR</button>
      <p>Esqueceu a senha?<span class="link ml-2">Acesse aqui</span></p>
      <p class="text-small">Versão 0.01</p>
    </footer>
  </section>
  <aside class="col-8">
    <body class="flex flex-column align-items-center">
      <picture class=""
        ><img
          src="../../../assets/images/dashboard-mock.png"
          alt="Imagem mostrando o dashboard Navega"
      /></picture>
      <p class="white">Bem-vindo a seu novo Dashboard</p>
    </body>
  </aside>
</main>
