<main class="grid">
  <section class="col-4 flex flex-column align-items-center">
    <picture>
      <img src="../../../assets/svg/Logo.svg" alt="Logo Navega" />
    </picture>
    <body class="flex flex-column align-items-center">
      <div class="title flex flex-column align-items-center">
        <h1>Boas-vindas ao Portal!</h1>
        <h1>Para começar, qual seu email ou CPF?</h1>
      </div>
      <div class="title flex flex-column align-items-center">
        <p>Precisamos desta confirmação para dar</p>
        <p>início ao seu acesso.</p>
      </div>
    </body>
    <form [formGroup]="form">
      <div class="p-inputgroup flex flex-column">
        <label for="">Email ou CPF</label>
        <span class="p-input-icon-right">
          <input formControlName="email" type="text" pInputText />
          <i class="pi pi-check-circle ml-2" style="font-size: 1rem"></i>
        </span>
      </div>
      <div class="p-inputgroup flex flex-column">
        <label for="">Senha</label>
        <span class="p-input-icon-right">
          <input
            formControlName="senha"
            type="{{ passwordVisible ? 'text' : 'password' }}"
            pInputText
          />
          <i
            class="ml-2 cursor-pointer {{
              passwordVisible ? 'pi pi-check-circle ' : 'pi pi-eye'
            }}"
            style="font-size: 1rem"
            (click)="togglePassword()"
          ></i>
        </span>
      </div>
    </form>
    <footer class="flex flex-column align-items-center">
      <button
        pButton
        pRipple
        label="ACESSAR"
        class="navega-primary"
        (click)="login()"
        [disabled]="form.invalid"
      ></button>
      <p>
        Esqueceu a senha?<span class="link ml-2 cursor-pointer"
          >Acesse aqui</span
        >
      </p>
      <p class="text-small">Versão 0.01</p>
    </footer>
  </section>
  <aside class="col-8">
    <body class="flex flex-column align-items-center">
      <picture class=""
        ><img
          src="../../../assets/images/dashboard-mock.png"
          alt="Imagem mostrando o dashboard Navega"
      /></picture>
      <p class="white">Bem-vindo a seu novo Dashboard</p>
    </body>
  </aside>
</main>
<p-toast></p-toast>
