//flex
@import "/node_modules/primeflex/primeflex.css";
//icons
@import "primeicons/primeicons.css";
//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
//text
@font-family: 'Poppins';
@title-font-size: 16px;
@title-font-weight: 600;
@link-font-weight: 400;
@button-font-weigh: 700;
@text-color-gray: var(--color-gray-90, #464646);
@text-color-white: var(--color-white-100, #FFF);
@text-color-blue: var(--color-primary-60, #1AAAB2);
@font-size: 14px;
@label-font-size: 12px;
//button
@button-border-radius: var(--border-radius-xs, 4px);
@button-border: 1px solid var(--color-primary-60, #1AAAB2);
@button-background-color: var(--color-primary-60, #1AAAB2);
@button-padding: var(--spacing-xxs, 10px);
@button-max-width: var(--max-width-web, 272px);
//spacing
@spacing-0: var(--spacing-none, 0px);
//image
@background-image: url('./assets/images/background.png');

* {
    font-family: @font-family;
    margin: @spacing-0;
    padding: @spacing-0;
}

h1 {
    font-family: @font-family;
    font-weight: @title-font-weight;
    font-size: @title-font-size;

    &.gray {
        color: @text-color-gray;
    }

    &.white {
        color: @text-color-white;
    }
}

p {

    font-family: @font-family;
    font-size: @font-size;

    &.text-small {
        font-size: @label-font-size;
    }

    &.gray {
        color: @text-color-gray;
    }

    &.white {
        color: @text-color-white;
    }
}

span {
    font-family: @font-family;
    font-size: @font-size;

    &.link {
        color: @text-color-blue;
        font-weight: @link-font-weight;
    }
}

button {
    border-radius: @button-border-radius;
    border: @button-border;
    background-color: @button-background-color;
    color: @text-color-white;
    padding: @button-padding;
    font-size: @font-size;
    font-weight: @button-font-weigh;
    max-width: var(--max-width-web, 272px);
    width: 272px;
    height: 40px;
}

main {
    display: block;
    width: 100vw;
    height: 100vh;
}

body {
    &.flex {
        gap: var(--spacing-gap-sm, 10px);
    }
}

section {
    &.flex {
        gap: var(--spacing-gap-sm, 32px);
    }

}

aside {
    background-image: @background-image;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

footer {
    margin-top: auto;
    gap: var(--spacing-gap-xxs, 16px);
}

div {
    &.p-inputgroup {
        margin-top: 16px;
        border-bottom: 1px solid var(--color-gray-90, #464646);
        width: 312px;

        label {
            font-size: @label-font-size;
        }

        input {
            font-size: @font-size;
            width: 90%;
            border: none;
        }
    }
}